@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap");

.activeProgramItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    border: 1px solid #f0eff5;
    border-radius: 12px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }

  .description {
    display: flex;
    flex-direction: row;

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 16px;

      & > h3 {
        font-size: 10px;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        background-color: #5855d6;
        border-radius: 35px;
        padding: 4px 8px 4px 8px;
        align-self: flex-start;
      }

      & > p {
        font-size: 14px;
        font-weight: 600;
        white-space: pre-wrap;
        color: #333269;
      }
    }
  }

  .grade {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;

    & > h4 {
      font-family: "MuseoModerno";
      color: #9592a6;
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      padding-bottom: 3px;
    }

    & > p {
      font-size: 10px;
      font-weight: 400;
      color: #9592a6;
    }
  }
}
