@font-face {
  font-family: "SF Pro Display";
  src: url("../../../public/fonts/SFPRODISPLAYREGULAR.OTF");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../../public/fonts/SFPRODISPLAYTHINITALIC.OTF");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../../public/fonts/SFPRODISPLAYMEDIUM.OTF");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../../public/fonts/SFPRODISPLAYMEDIUM.OTF");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../../public/fonts/SFPRODISPLAYBOLD.OTF");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
