.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 800px;
  padding: 0 39px 35px 39px;

  & > h1 {
    font-size: 21px;
    font-weight: bold;
    color: #333269;
    margin-bottom: 19px;
  }

  .content {
    display: flex;
    flex-direction: row;
  }
}
