.messages {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .dialog {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0px 16px 0px 16px;
    max-height: 525px;
    overflow: auto;

    @media (max-width: 1375px) {
      max-height: 900px;

      @media (max-width: 1000px) {
        max-height: 600px;
      }
    }
  }
}

.mobile {
  overflow: hidden;
  .dialog {
    max-height: none;
  }
}
