.messages {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .stories {
    display: flex;
    flex-direction: row;
    overflow: auto;
    justify-content: flex-start;
    padding: 15px 0 20px 16px;
  }

  .dialog {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0px 16px 0px 16px;
    max-height: 525px;
    overflow: auto;

    @media (max-width: 1375px) {
      max-height: 900px;

      @media (max-width: 1000px) {
        max-height: 600px;
      }
    }
  }
}
