.mobileMessages {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .route {
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 57px;
    max-height: 57px;
    background-color: #fafaff;

    & h3 {
      font-size: 16px;
      font-weight: 500;
      color: #333269;
      margin-left: 3px;
    }
  }

  .messages {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    .dialog {
      background-color: red;
    }
  }
}
