.layout {
  position: fixed;
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .headerAndContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    @media (max-width: 1000px) {
      padding-bottom: 84px;
    }
  }

  .bottomTabs {
    display: none;

    @media (max-width: 1000px) {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
    }
  }
}
