.calendar {
  flex: 1;
  max-width: 425px;
  border-radius: 20px;
  background: #ffffff;
  padding: 26px 33px 15px 21px;
  margin-left: 25px;

  @media (max-width: 1375px) {
    margin-top: 25px;
    margin-left: 0px;
  }

  & h2 {
    font-size: 16px;
    font-weight: 500;
    color: #333269;
    margin-bottom: 24px;
  }

  .button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
}
